*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.Wrapper{
    width: 90%;
    font-size: 16px;
    min-width: 340px;
    margin: 1rem auto;
}

.Contianer{
    width: 100%;
    
}

.Top_Container{
    width: 100%;
    display:flex;
    justify-content: center;

    gap: 3em;
}
.Wrapper h3{
    color: #363d55;
    font-weight: 500;
    margin-bottom: 0.6em;
}
.Contianer input{
  display:block;
  width: 100%;
  padding: 0.6em 0.3em;
  border: 1px solid whitesmoke;
  border-radius: 0.3em;
  color: #414a67;
  outline: none;
  font-weight: 400;
  margin: 0.6em;
}

.Contianer input:focus{
    background-color: #587ef4;
}

.Total-amount-container ,.user-amount-container{
    background-color: #ffffff;
    padding: 1.25em 0.9em;
    border-radius: 0.3em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.output-container{
    background-color: #587ef4;
    color: #ffffff;
    border-radius: 0.3em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 2em 0;
    padding: 1.2em;
    display: flex;
    justify-content: space-between;
}

.output-container p{
    font-weight: 500;
    margin-bottom: 0.6em;
}

.output-container span{
    display: block;
    text-align: center;
    font-weight: 400;
    color: #e5e5e5;
}


.submit{
    font-size: 1em;
    margin: 1em;
    background-color: #587ef4;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 0.6em 1.2em;
    border-radius: 0.3em;
    cursor: pointer;
}

.list{
    background-color: #ffffff;
    padding: 1.8em 1.2em;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0.6em;
}
.hide{
    display: none;
}
.error{
    color: #ff465a;
}

.list_item{
    display: flex;
    padding:  0.6em 1.2em;
    margin-bottom: 0.6em ;
    justify-content: space-between;
   border-left: 5px solid blue; 
  
}

.Container-icon{
    display: flex;
    justify-content: space-between;

    width: 100px;
}